/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');
body{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
.card{
    width: 35%;
    margin: auto;
    margin-top: 10rem;
    padding: 20px;
    border: 1px solid #000;
}
.card-header{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
}
.form-input{
    height:35px;
    margin-bottom:20px;
    padding-left: 10px;
    border: 1px solid #000;
    color: #000;
}
.form-button{
    height: 35px;
    border: 1px solid #000;
    cursor: pointer;
}